<h1>讓我幫來你算算你的ＢＭＩ：</h1>
<br>
<form action="./bmi/result" method="POST">
  身高：<input type="text" name="height" placeholder="請輸入您的身高" pattern="[0-9]*" required>公分
  體重：<input type="text" name="weight" placeholder="請輸入您的體重">公斤
  <input type="submit" value="送出">
</form>
