<h2>您的BMI是</h2>
<%= result %>
<br>
<p><%= word %> </p>
<!-- <%= 
  if result < 24 && result >= 18.5
    p "健康體重，你是健康寶寶喔！"
  elsif result < 18.5
    p "體重過輕，哎多吃點吧！"
  else
    p "體重過重，還吃？！動起來動起來！"
  end
%> -->